<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }} - Getopt.php</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" type="text/css" href="style.css"/>
		<link rel="stylesheet" type="text/css" href="syntax.css"/>
	</head>
	<body>
		<div id="head">
			Getopt.php
		</div>
		<ul id="nav">
			<li><a href="index.html">About</a></li>
			<li><a href="installation.html">Installation</a></li>
			<li><a href="basic-usage.html">Basic Usage</a>
				<ul>
					<li><a href="specifying-options.html">Specifying Options</a></li>
				</ul>
			</li>
			<!--<li><a href="advanced-usage.html">Advanced Usage</a>
				<ul>
				</ul>
			</li>
			<li><a href="development.html">Development</a></li>-->
		</ul>
		<div id="content">{{ content }}</div>
		<div id="footer">
			<p>Maintained by <a href="https://github.com/ulrichsg">@ulrichsg</a> with contributions by
				<a href="https://github.com/ulrichsg/getopt-php/graphs/contributors">these fine people</a>. Thank you very much!</p>
			<p>Code licensed under <a href="https://github.com/ulrichsg/getopt-php/blob/master/LICENSE">MIT</a>,
				documentation under <a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
			<p>Current version: 2.0.0 &mdash;
				<a href="https://github.com/ulrichsg/getopt-php/blob/master/CHANGELOG.md">Changelog</a> &mdash;
				<a href="https://github.com/ulrichsg/getopt-php/releases">Releases</a> &mdash;
				<a href="https://github.com/ulrichsg/getopt-php/issues?state=open">Issues</a>
			</p>
		</div>
		<a href="https://github.com/ulrichsg/getopt-php">
			<img id="gh-ribbon"
				 src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
		</a>
	</body>
</html>
